<div id="wrapper" #postsScroll>
    @for (post of posts; track post.id) {
    <div id="report-wrapper">
        <div class="post">
            <label class="post-title">
                {{post.title}}                
            </label>
            <img [src]="post.imageUrl">     
        </div>
        
        <div id="button-wrapper">
            <button (click)="discardReport(post.id)">Discard report</button>
            <button (click)="deletePost(post.id)">Delete post</button>
            <button (click)="banUser(post.id, post.posterUsername)">Delete post and block user</button>
        </div>
    </div>
    }
</div>